# Streamlit Secrets
.streamlit/secrets.toml
.streamlit/config.toml

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Data & Drivers
*.csv
*.txt
!watchlist/*.txt
*.exe
amibroker/dbnotes/
amibroker/csv/
amibroker/notes/

# OS
.DS_Store
Thumbs.db
