yahoo-fin==0.8.9.1
nltk==3.7
numpy
openpyxl==3.1.5
pandas
pdfplumber==0.7.1
Pillow
plotly==5.8.0
python-telegram-bot==13.11
pymongo==4.3.3
requests==2.27.1
selenium==4.4.3
streamlit==1.27.2
streamlit_lottie==0.0.3
streamlit_option_menu==0.3.2
urllib3